@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&family=Noto+Serif+JP:wght@400;500;700;900&family=Paprika&display=swap");
body {
  font-family: "Noto Serif JP", serif;
  color: #202020;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: initial;
}

li {
  list-style: none;
}

.cf {
  zoom: 1;
}

.cf::before, .cf::after {
  content: "";
  display: table;
}

.cf::after {
  content: "";
  clear: both;
}

.btn {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.inner {
  max-width: 1200px;
  width: 100%;
}

.headerWrap {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #F6E7BE;
  z-index: 777;
}

.headerWrap.fixed {
  background-color: #fff;
}

.header {
  width: 100%;
  height: 100px;
  margin: 0 auto;
}

.headInner {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.head__logo {
  width: 150px;
  height: 150px;
  margin-top: 20px;
}
.head__logo .logo-title {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  color: #202020;
  font-family: "Paprika", cursive;
}

.head__list {
  display: flex;
  align-items: center;
  padding-top: 40px;
}
.head__list .home a::before {
  content: "";
  display: inline-block;
  background: url(../images/icon01.png) no-repeat center center/100% auto;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.head__list .about a::before {
  content: "";
  display: inline-block;
  background: url(../images/icon02.png) no-repeat center center/100% auto;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.head__list .shop a::before {
  content: "";
  display: inline-block;
  background: url(../images/icon03.png) no-repeat center center/100% auto;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.head__list .menu a::before {
  content: "";
  display: inline-block;
  background: url(../images/icon04.png) no-repeat center center/100% auto;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.head__list .recruit a::before {
  content: "";
  display: inline-block;
  background: url(../images/icon05.png) no-repeat center center/100% auto;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.head__list .news a::before {
  content: "";
  display: inline-block;
  background: url(../images/icon06.png) no-repeat center center/100% auto;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.head__list li {
  margin-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #CEA064;
}
.head__list li a .item-name {
  display: inline-block;
  font-size: 1.6rem;
}
.head__list li a span {
  display: block;
  font-family: "Paprika", cursive;
  font-size: 1.3rem;
  color: #CEA064;
}

main {
  padding-top: 100px;
  position: relative;
}

.main {
  position: relative;
  width: 100%;
  height: 540px;
  overflow: hidden;
  margin: 0 auto 80px;
  background-color: #CEA064;
}

.main__movie {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  text-align: center;
}

.vsc-controller {
  display: none;
}

.main_msk {
  width: 100%;
  height: 600px;
  position: relative;
  top: 0;
  background-image: url(../images/main01.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

.ttl {
  font-size: 3rem;
  margin-bottom: 30px;
}
.ttl::before {
  content: "";
  display: block;
  background: url(../images/deco.png) no-repeat center center/100% auto;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}
.ttl span {
  margin-bottom: 5px;
  display: block;
  font-family: "Paprika", cursive;
  font-size: 1.5rem;
  color: #CEA064;
}

.title-text {
  font-size: 1.6rem;
  margin-bottom: 30px;
}

.title-btn {
  display: table;
  margin: 0 auto;
  background-color: #632C0D;
  width: 220px;
  height: 50px;
  padding: 3px;
}
.title-btn a {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  padding: 3px 5px;
  background-color: #632C0D;
  border: solid 1px #fff;
}
.title-btn a span {
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.aboutPage {
  margin: 0 auto 80px;
  position: relative;
  width: 100%;
}

.aboutInner {
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.about__title {
  width: 40%;
  text-align: center;
}
.about__title .title-img {
  margin: 0 auto 10px;
  width: 400px;
  height: 300px;
}

.about__image {
  width: 28%;
}
.about__image .image-item {
  height: 200px;
  overflow: hidden;
  background-color: #202020;
  border-radius: 4rem;
}
.about__image .ef1 {
  margin: 100px 0 50px;
}
.about__image .ef2 {
  margin: 50px 0;
}

.newsPage {
  position: relative;
  margin: 0 auto 80px;
  width: 100%;
}

.newsInner {
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}
.newsInner .news__title {
  width: 140px;
  height: 140px;
  text-align: center;
  padding: 20px 10px;
  background-color: #FBD9CF;
  border-radius: 4rem;
}
.newsInner .news__title .ttl {
  font-size: 2rem;
  margin-bottom: 0;
}
.newsInner .news__list {
  max-width: 910px;
  width: 100%;
  border-top: solid 1px #202020;
  border-bottom: solid 1px #202020;
}
.newsInner .news__list .news__item {
  padding: 15px 30px 15px 20px;
  border-bottom: dotted 1px #202020;
}
.newsInner .news__list .news__item:nth-of-type(5) {
  border-bottom: none;
}
.newsInner .news__list .news__item .item-text {
  font-size: 1.6rem;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
}
.newsInner .news__list .news__item .item-text span {
  margin-left: 20px;
  font-size: 1.6rem;
}

.menuPage {
  width: 100%;
  margin: 0;
  padding: 70px 0;
  background: url(../images/menu01.jpg) no-repeat center center/cover;
}

.menuInner {
  margin: 0 auto;
}
.menuInner .menu__title {
  position: relative;
  padding: 50px 30px 60px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  border-radius: 2rem;
  background-color: #fff;
}
.menuInner .menu__title::before {
  content: "";
  position: absolute;
  top: 40px;
  left: -30px;
  width: 160px;
  border-top: solid 5px #632C0D;
  transform: rotate(-40deg);
}
.menuInner .menu__title::after {
  content: "";
  position: absolute;
  bottom: 40px;
  right: -30px;
  width: 160px;
  border-top: solid 5px #632C0D;
  transform: rotate(-40deg);
}
.menuInner .menu__title .title-img {
  margin: 0 auto 30px;
  width: 200px;
  height: 200px;
}

.mixWrap {
  margin-bottom: 80px;
  position: relative;
  width: 100%;
  display: flex;
}
.mixWrap .shopPage {
  width: 50%;
  padding: 60px 0 70px;
  background-color: #f5eac6;
}
.mixWrap .shopPage .shop__title {
  text-align: center;
  width: 100%;
}
.mixWrap .shopPage .shop__title .title-img {
  margin: 0 auto 30px;
  width: 270px;
}
.mixWrap .shopPage .shop__title .title-text {
  width: 500px;
  text-align: justify;
  margin: 0 auto 30px;
}
.mixWrap .recruitPage {
  width: 50%;
  padding: 60px 30px 70px;
  background-color: #f5d9d1;
}
.mixWrap .recruitPage .recruit__title {
  text-align: center;
  width: 100%;
}
.mixWrap .recruitPage .recruit__title .title-img {
  margin: 0 auto 30px;
  width: 270px;
}
.mixWrap .recruitPage .recruit__title .title-text {
  width: 500px;
  text-align: justify;
  margin: 0 auto 30px;
}

.instagram {
  margin: 0 auto 80px;
  position: relative;
  width: 100%;
}
.instagram .instPage {
  margin: 0 auto;
}
.instagram .instPage .ttl {
  text-align: center;
  margin-bottom: 40px;
}
.instagram .instPage .ttl .span-item {
  display: block;
  font-size: 2rem;
  margin-bottom: 10px;
}
.instagram .instPage .inst__wrap {
  margin-bottom: 40px;
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.instagram .instPage .inst__wrap::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  width: 160px;
  border-top: solid 5px #632C0D;
  transform: rotate(-40deg);
}
.instagram .instPage .inst__wrap::after {
  content: "";
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 160px;
  border-top: solid 5px #632C0D;
  transform: rotate(-40deg);
}
.instagram .instPage .inst__wrap .wrap__item-1 {
  width: 40%;
  height: 300px;
  overflow: hidden;
}
.instagram .instPage .inst__wrap .wrap__item-2 {
  width: 20%;
  height: 300px;
  margin: 0 30px;
  overflow: hidden;
}
.instagram .instPage .inst__wrap .wrap__item-3 {
  width: 20%;
  height: 300px;
  overflow: hidden;
}
.instagram .instPage .inst__btn {
  display: table;
  margin: 0 auto;
  padding: 3px;
  position: relative;
  width: 300px;
  height: 50px;
  border: #364949 1px solid;
}
.instagram .instPage .inst__btn::before {
  content: "check!";
  font-size: 2rem;
  line-height: 1.2;
  font-family: "Paprika", cursive;
  padding: 2px 5px;
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #fff;
  transform: rotate(4deg);
}
.instagram .instPage .inst__btn a {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding: 3px 5px;
  border: #364949 1px solid;
}
.instagram .instPage .inst__btn a span {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.2;
}

footer {
  position: relative;
  width: 100%;
  background-color: #F6E7BE;
}
footer .foot__wrap {
  padding: 50px 0 50px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  display: flex;
}
footer .foot__wrap .foot__list-1 {
  width: 200px;
}
footer .foot__wrap .foot__list-1 .foot__logo {
  display: block;
  width: 150px;
  height: 150px;
}
footer .foot__wrap .foot__list-1 .foot__logo .foot-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  font-family: "Paprika", cursive;
}
footer .foot__wrap .foot__list-2 {
  padding-top: 10px;
  width: 55%;
}
footer .foot__wrap .foot__list-2 nav {
  display: block;
}
footer .foot__wrap .foot__list-2 nav .nav1 {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
footer .foot__wrap .foot__list-2 nav .nav1 li {
  padding: 0 20px;
  border-right: solid 1px #202020;
}
footer .foot__wrap .foot__list-2 nav .nav1 li:nth-of-type(1) {
  padding-left: 0;
}
footer .foot__wrap .foot__list-2 nav .nav1 li:nth-of-type(5) {
  border: none;
}
footer .foot__wrap .foot__list-2 nav .nav1 li a p {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}
footer .foot__wrap .foot__list-2 nav .nav2 {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
footer .foot__wrap .foot__list-2 nav .nav2 li a p {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}
footer .foot__wrap .foot__list-2 .foot__link {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
footer .foot__wrap .foot__list-2 .foot__link .ol-shop {
  margin-right: 40px;
}
footer .foot__wrap .foot__list-2 .foot__link .ol-shop .ol-btn {
  display: table;
  margin: 0 auto;
  background-color: #2f4a4a;
  width: 190px;
  height: 40px;
  padding: 3px;
}
footer .foot__wrap .foot__list-2 .foot__link .ol-shop .ol-btn a {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  padding: 3px 5px;
  background-color: #2f4a4a;
  border: solid 1px #fff;
  text-align: center;
}
footer .foot__wrap .foot__list-2 .foot__link .ol-shop .ol-btn a span {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .foot__wrap .foot__list-2 .foot__link .ol-shop .ol-btn a span::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 3px;
  background: url(../images/icon07.png) no-repeat center center/cover;
}
footer .foot__wrap .foot__list-2 .foot__link .icon__inst {
  padding: 0 15px;
}
footer .foot__wrap .foot__list-2 .foot__link .icon__inst a {
  display: block;
  width: 23px;
}
footer .foot__wrap .foot__list-2 .foot__link .icon__sns {
  padding: 0 15px;
}
footer .foot__wrap .foot__list-2 .foot__link .icon__sns a {
  display: block;
  width: 23px;
}
footer .foot__wrap .foot__list-2 .copy {
  font-size: 1.3rem;
  text-align: left;
}
footer .foot__wrap .foot__list-3 {
  width: 500px;
  position: absolute;
  bottom: 0;
  right: 0;
}
footer .foot__wrap .foot__list-3 .footImg {
  display: block;
}
footer .btnTop {
  width: 100px;
  height: 100px;
  background-color: #CEA064;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 300px;
  display: block;
  cursor: pointer;
}
footer .btnTop span {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-align: center;
  color: #202020;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=style.css.map */
